.netflixbg {
  position: relative;
  z-index: 0;
  background-image: url('./../../public/assets/images/bg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #000;
}
.netflixbg::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
}
.scrollx::-webkit-scrollbar {
  display: none;
}
.reasonscard {
  background: #1A2145;
  background: linear-gradient(180deg, rgba(26, 33, 69, 1) 0%, rgba(30, 21, 41, 1) 50%);
}